/* app css stylesheet */
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:600);
@font-face{
    font-family: 'AR Christy';
    src: url('/fonts/ARCHRISTY.ttf');/*IE 9 */
    src: url('/fonts/ARCHRISTY.ttf') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/ARCHRISTY.ttf') format('woff2'), /* Super Modern Browsers */
        url('/fonts/ARCHRISTY.ttf') format('woff'), /* Pretty Modern Browsers */
        url('/fonts/ARCHRISTY.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/fonts/ARCHRISTY.ttf') format('svg'); /* Legacy iOS */
}


body{
    background-color: #fff;
    width:100%;
    height: 100%;
}

.active{
    text-decoration: none;
    color: #A89380;
}

a{
    font-style: none;
    text-decoration: none;
    color: #c0a892;
    transition: color .5s ease; 
}

a:active, a:hover, a:visited {
    text-decoration: none;
    color: #A89380;
    cursor: pointer;
    transition: color .5s ease; 
}


p{
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    padding:0 15px;

}

.light{
    color:#c0a892;   
}

.contact{
    height: 250px; 
    width: 500px;
    margin:0 auto;
}

.content{
    margin: 0 auto;
    width: 60%;
}

.footer{
    height: 200px;
    width: 100%;
    background-color: #564149;
    margin-top:55px;
    padding: 15px;


}

.footContent{
    width: 600px;
}


h1{
    font-family: "Dancing Script";
    font-size: 50px;
    color: #50585B;
}

h3{
    font-family: "AR Julian";
    font-size: 20px;
    margin-top: -20px;  
    margin-left: 25px;
}

.header{
    padding:0.8em;
    margin: 20px;
}

.headerBK{
    width: 100%;
    height: 35px;
    background-color: #564149;
    position: fixed;
    top: 0;
    z-index: 20;
}


.homeImgContainer{
    transition: all 500ms;
    width:450px;
    margin:30px auto;
}

.homeImgContainer:hover {
    transform: scale(1.1);
    transition: all 500ms;
}

.homeImgContainer img:hover{
}


.left{
    float: left;
}

.menu {
    list-style: none;
    display: inline-block;
    padding-left: 15px;        
    font-family: "Dancing Script";
    font-size: 25px;
    color: #c0a892;
    margin-right: 75px;
    transition: color .5s ease;

}

.dancingScript{
    color: #50585B;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

#portExContainer{
    margin:0 auto;
}

.portEx {
    display: inline-block;
    height: 450px;
    width: 675px;
    position: relative;
    -webkit-box-shadow: -2px 12px 50px 15px rgba(0,0,0,0.69);
    -moz-box-shadow: -2px 12px 50px 15px rgba(0,0,0,0.69);
    box-shadow: -2px 12px 50px 15px rgba(0,0,0,0.69);
    margin-right: -405px;
    margin-left: 2%;
    transform: perspective( 1000px ) rotateY(45deg) scale(.7);
    -webkit-transform:perspective( 1000px ) rotateY(45deg) scale(.7);
    transition:all 400ms ease-in-out;

}

.portEx:hover{
    -webkit-transform:perspective( 1000px ) rotateY(0deg) scale(1);
    transform: perspective( 1000px ) rotateY(0deg) scale(1);
    position: relative;
    z-index: 5;
    -webkit-box-shadow: 0px 51px 81px 24px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 51px 81px 24px rgba(0,0,0,0.69);
    box-shadow: 0px 51px 81px 24px rgba(0,0,0,0.69);
    transition:all 500ms ease-in-out;
}

.portEx img{
    height:100%;
    width: 100%;
}


.right{
    float: right;
}

.skillImg{
    height: 50px;
    margin: 10px;
    display: inline-block;

}




/*animations!*/
.fadeAnimate { 
    opacity:0; 
    transition:all 1000ms ease-in-out; 
    -webkit-transition:all 1000ms ease-in-out; 
}

.fadeAnimate.fade-in { 
    opacity:1; 
}


.glowAnimate {
    text-shadow: 0 0 3px #FFFFF0;
    transition:all 3000ms ease-in-out; 
    -webkit-transition:all 3000ms ease-in-out; 
}
.glowAnimate.fade-in {
    text-shadow: none;   
}


/*icon sprite*/


.icon{
    height: 50px;
    width: 50px;
    background-image: url(/images/icons.png);
    display: inline-block;
    margin:0 15px;
    vertical-align: middle;
}

.linkedin{
    background-position: 11.11% 50%;
}

.twitter{
    background-position: 0 100%;

}

.gplus{
    background-position: 55.55% 25%;

}

.mail{
    background-position: 22.22% 50%;

}

.github{
    background-position: 77.77% 25%;   
}

