/* Portrait */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {

        .portEx{
            display:block;
            transform: none;
            -webkit-transform: none;
            height: 350px;
            width: 500px;
            margin:10px auto;
        }

        .portEx:hover{
            transform: none;
            -webkit-transform: none;
            -webkit-box-shadow: -2px 12px 50px 15px rgba(0,0,0,0.69);
            -moz-box-shadow: -2px 12px 50px 15px rgba(0,0,0,0.69);
            box-shadow: -2px 12px 50px 15px rgba(0,0,0,0.69);
            z-index: 0;
        }

    }

/* Landscape */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
        .portEx{
            display:inline-block;
            transform: none;
            -webkit-transform: none;
            height: 350px;
            width: 500px;
            margin:10px auto;
            -webkit-box-shadow: none;
            -moz-box-shadow:none;
            box-shadow: none;
        }

        .portEx:hover{
            transform: none;
            -webkit-transform: none;
            -webkit-box-shadow: none;
            -moz-box-shadow:none;
            box-shadow: none;
            z-index: 0;
        }

        .footContent.right{
            float: none;
        }
        .footContent.left{
            float: none;
        }
        .footContent{
            margin:0 auto;
        }


    }

@media (min-width: 949px) and (max-width: 1250px){
    #portExContainer{
        margin:0;
        width: 100%;
    }
    .footer{
        padding-top:25px;
        height: 370px;
    }

    .footContent{
        height: 155px;
    }
    .footContent.right{
        float: none;
    }
    .footContent.left{
        float: none;
    }
    .footContent{
        margin:0 auto;
    }

}





@media (min-width: 700px) and (max-width: 950px) {
    #portExContainer{
        width: 50%;   
    }
    .portEx{
        display:inline-block;
        transform: none;
        -webkit-transform: none;
        height: 350px;
        width: 500px;
        margin:10px auto;
        -webkit-box-shadow: none;
        -moz-box-shadow:none;
        box-shadow: none;
    }
    
    .footer, .push{
    height: 450px;
    }
    
    .footer{
        padding-top: 25px;
    }
    .wrapper{
        margin: 0 auto -350px;   
    }
    .footContent{
        margin: 50px auto;   
    }
    .footContent.right{
        float: none;
    }
    .footContent.left{
        float: none;
    }



}

@media (min-width: 500px) and (max-width: 700px) {
    #portExContainer{
        width: 70%;   
    }
    .portEx{
        display:inline-block;
        transform: none;
        -webkit-transform: none;
        height: 250px;
        width: 350px;
        margin:10px auto;
        -webkit-box-shadow: none;
        -moz-box-shadow:none;
        box-shadow: none;
    }

    .footer{
        height: 370px;
    }

    
    .footContent{
        margin: 15px;   
    }


}

@media (min-width: 350px) and (max-width: 440px){
    .menu{
        margin-right: 35px;
    }

    .contact{
        width:80%;
        height: auto;
    }

    .content{
        width: 80%;   
    }

    .content img{
        height: 35px;
    }

    .dancingScript{
        font-size:25px;
    }

    .footer, .push{
        height: 300px;
    }
    .wrapper{
        min-height: 100%;
        margin-bottom: -300px;
    }

    .footContent{
        margin: 15px; 
        width: 85%;
    }

    .footContent span{
        display: none;
    }


    .header{
        margin: 50px 0 0 0;
        padding:1px;
    }

    .homeImgContainer{
        width: 90%; 
        height: 300px;
    }

    .homeImgContainer img{
        width: 300px; 
        height: 250px;
    }

    .icon{
        display: inline-block;
    }

    .portEx{
        display:block;
        transform: none;
        -webkit-transform: none;
        height: 205px;
        width: 320px;
        margin:10px auto;
        -webkit-box-shadow: none;
        -moz-box-shadow:none;
        box-shadow: none;
    }
    
    #portExContainer {
        width: 90%;
    }

    .footContent.right{
        float: none;
    }
    .footContent.left{
        float: none;
    }


}

@media (max-width: 350px){
    
    #profPic{
        display: none;
    }

    .contact{
        width:80%;
        height: auto;
    }

    .content{
        width: 80%;   
    }

    .content img{
        height: 35px;
    }

    .dancingScript{
        font-size:25px;
    }

    .footer, .push{
        height: 300px;
    }
    .wrapper{
        min-height: 100%;
        margin-bottom: -300px;
    }

    .footContent{
        margin: 15px; 
        width: 100%;
    }

    .footContent span{
        display: none;
    }


    .header{
        margin: 50px 0 0 0;
        padding:1px;
    }

    .homeImgContainer{
        width: 80%; 
        height: 300px;
    }

    .homeImgContainer img{
        width: 250px; 
        height: 170px;
    }

    .icon{
        display: inline-block;
    }

    .portEx{
        display:inline-block;
        transform: none;
        -webkit-transform: none;
        height: 245px;
        width: 320px;
        margin:10px auto;
        -webkit-box-shadow: none;
        -moz-box-shadow:none;
        box-shadow: none;
    }
    
    #portExContainer{
        width:60%;
        margin:0;
    }

    .footContent.right{
        float: none;
    }
    .footContent.left{
        float: none;
    }
       
}
