/* app css stylesheet */
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
body{
    background-color: #192228;
    width:100%;
    height: 100%;
}

a{
    font-style: none;
    text-decoration: none;
    color: #c0a892;
    transition: color .5s ease; 
}

a:active, a:hover{
    text-decoration: none;
    color: #564149;
    cursor: pointer;
    transition: color .5s ease; 
}

h1{
    color: #564149;
    font-family: "AR Christy";
    font-size: 50px;
}

h3{
    color: #c0a892;
    font-family: "AR Julian";
    font-size: 20px;
    margin-top: -20px;  
    margin-left: 25px;
}

p{
    color: #50585B;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

.left{
    float: left;
    width: 30%;
}
.right{
    float: right;
    width: 60%;
}

.menu {
    list-style: none;
    float: right;
    padding-left: 15px;
    z-index: 3;
    font-family: "AR Christy";
    font-size: 25px;
    color: #c0a892;
    margin-right: 75px;
    transition: color .5s ease;
}
.header{
    margin-left: 25px;   
}

.headerBK{
    width: 100%;
    height: 35px;
    background-color: #50585B;
}

.hLine{
    height: 5px;
    width: 100%;
    background-color: #50585B;
    margin-top: 10px;

}

.portEx {
    display: inline-block;
    height: 450px;
    width: 675px;
    position: relative;
    -webkit-box-shadow: -2px 12px 50px 15px rgba(0,0,0,0.69);
    -moz-box-shadow: -2px 12px 50px 15px rgba(0,0,0,0.69);
    box-shadow: -2px 12px 50px 15px rgba(0,0,0,0.69);
    margin-right: -405px;
    margin-left: 2%;
    transform: perspective( 1000px ) rotateY(45deg) scale(.7);
    -webkit-transform:perspective( 1000px ) rotateY(45deg) scale(.7);
    transition:all 400ms ease-in-out;

}

.portEx:hover{
    -webkit-transform:perspective( 1000px ) rotateY(0deg) scale(1);
    transform: perspective( 1000px ) rotateY(0deg) scale(1);
    transition:all 300ms ease-in-out;
    position: relative;
    z-index: 5;
    -webkit-box-shadow: 0px 51px 81px 24px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 51px 81px 24px rgba(0,0,0,0.69);
    box-shadow: 0px 51px 81px 24px rgba(0,0,0,0.69);
}

.portEx img{
    height:100%;
    width: 100%;
}

.contact{
    height: 250px; 
    width: 500px;
    margin:0 auto;
}


/*animations!*/
.fadeAnimate { 
    opacity:0; 
    transition:all 1000ms ease-in-out; 
}

.fadeAnimate.fade-in { 
    opacity:1; 
}

.glowAnimate {
    text-shadow: 0 0 3px #FFFFF0;
    transition:all 3000ms ease-in-out; 
}
.glowAnimate.fade-in {
    text-shadow: none;   
}
