/* app css stylesheet */

body{
    background-color: #192228;
    width:100%;
    height: 100%;
    padding: 20px;
}

a{
    font-style: none;
    text-decoration: none;
    color: #c0a892;
    transition: color .5s ease; 
}

a:hover{
    color: #564149;
    cursor: pointer;
    transition: color .5s ease; 
}

h1{
    color: #564149;
    font-family: "AR Christy";
    font-size: 50px;
    
    
}

h3{
    color: #c0a892;
    font-family: "AR Julian";
    font-size: 20px;
    margin-top: -50px;  
    margin-left: 25px;
}

.left{
    float: left;
    width: 30%;
}
.right{
    float: right;
    width: 60%;
}

.menu {
    list-style: none;
    float: right;
    padding: 15px;
    z-index: 3;
    font-family: "AR Christy";
    font-size: 50px;
    color: #c0a892;
    margin-right: 75px;
    transition: color .5s ease;
}



