/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
      
  .portEx{
       display:block;
        transform: none;
      -webkit-transform: none;
        height: 350px;
        width: 500px;
        margin:10px auto;
    }
    
    .portEx:hover{
        transform: none;
        -webkit-transform: none;
        -webkit-box-shadow: -2px 12px 50px 15px rgba(0,0,0,0.69);
        -moz-box-shadow: -2px 12px 50px 15px rgba(0,0,0,0.69);
        box-shadow: -2px 12px 50px 15px rgba(0,0,0,0.69);
        z-index: 0;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .portEx{
       display:inline-block;
        transform: none;
      -webkit-transform: none;
        height: 350px;
        width: 500px;
        margin:10px auto;
      -webkit-box-shadow: none;
        -moz-box-shadow:none;
        box-shadow: none;
    }
    
    .portEx:hover{
        transform: none;
        -webkit-transform: none;
        -webkit-box-shadow: none;
        -moz-box-shadow:none;
        box-shadow: none;
        z-index: 0;
    }  
      

}


@media (min-width: 300px) and (max-width: 650px){
    .menu{
        margin-right: 35px;
    }
    
    .header{
        margin: 50px 0 0 0;
        padding:1px;
    }
    
    .homeImgContainer{
        width: 90%;   
    }
    
    .homeImgContainer img{
       width: 300px; 
        height: 250px;
    }
    
    .contact{
        width:80%;
        height: auto;
    }
    
    .content{
        width: 80%;   
    }
    
    .content img{
        height: 35px;
    }
        
    
    .portEx{
       display:inline-block;
        transform: none;
        -webkit-transform: none;
        height: 245px;
        width: 350px;
        margin:10px auto;
      -webkit-box-shadow: none;
        -moz-box-shadow:none;
        box-shadow: none;
    }
    
  
    
}


@media (min-width: 700px) and (max-width: 950px) {
    #portExContainer{
        width: 50%;   
    }
  .portEx{
       display:inline-block;
        transform: none;
      -webkit-transform: none;
        height: 350px;
        width: 500px;
        margin:10px auto;
      -webkit-box-shadow: none;
        -moz-box-shadow:none;
        box-shadow: none;
    }
  
     
    
}

@media (min-width: 500px) and (max-width: 700px) {
    #portExContainer{
        width: 70%;   
    }
  .portEx{
       display:inline-block;
        transform: none;
      -webkit-transform: none;
        height: 250px;
        width: 350px;
        margin:10px auto;
      -webkit-box-shadow: none;
        -moz-box-shadow:none;
        box-shadow: none;
    }
    
     
}
}