<div class="wrapper">
    <div class="headerBK">
        <div class="right">
            <nav class="menu"><a href="#/work">work</a></nav>
            <nav class="menu"><a href="#/about" class="active">about</a></nav>
            <nav class="menu"><a href="#/contact">contact</a></nav>
        </div>
    </div>
    <div class="header">
        <a href="#/">
            <h1>Danielle Greaves</h1>
            <h3>web developer</h3>
        </a>
    </div>


    <!--start content here -->

    <div class="content">
        <h1>Hi There</h1>
        <div id="profPic" style="margin:5px;float:right;"><img src="/images/profPic.png" style="height:150px; width:170px; border-radius:100px;" /> </div>
        <p>I'm Danielle Greaves. I write code, play with my puggles, and bike for fun. I am a Front-End Developer with an emphasis on design and I enjoy a good challenge.</p><br/>
        <p>My favorite things in life are coffee, family, and the outdoors.</p><br/>
    </div>
    <div class="content">
        <h1>Skills<img class="skillImg" src="/images/html5.png" alt="html5" /><img class="skillImg" src="/images/css3.png" alt="css3" /><img class="skillImg" src="/images/js.png" alt="JavaScript" /></h1>
        <p>I have 2+ years experience in HTML5, CSS3, JavaScript &#38; jQuery. I also have 2+ years experience in backend development in SQL &#38; VB.net .</p>
        <p>My main focus is to bring great ideas to life. I focus on responsive development and cross browser compatibility so that a site can be enjoyed by all.</p>
        <p>I also have a pretty mean brush stroke in Photoshop! With over 5 years experience with photoshopping myself in celebrity photos, I have an excellent understanding of how to use the program. </p>
    </div>
    <div class="content">
        <h1>Other Stuff I do!<img class="skillImg" src="/images/wp.png" alt="WordPress" /><img class="skillImg" src="/images/joomla.png" alt="Joomla!" /></h1>
        <p>I have extensive knowledge with WordPress and Joomla! I can manipulate templates to fit a specific layout. I can create child themes in WordPress and change them so that they don't remotely look like 
            the original theme. I can get down into the nitty gritty of a site and have a design coming to life in just a few hours.</p>
    </div>
</div>
<div class="footer">
    <div class="left footContent">
        <p class="light">I am a front-end developer who loves design. My main focus is to bring great ideas to life.</p>
        <p class="light">My favorites are coffee, family, and the outdoors.</p>
    </div>

    <div class="right footContent">
        <div style="float:left;">
            <a href="http://www.linkedin.com/in/danigreaves"><div class="icon linkedin"></div><span class="light">You can view my linkedin</span></a>
        </div>
        <div style="float:left;">
            <a href="http://www.github.com/danigirl329"><div class="icon github"></div><span class="light">Or check out my github</span></a>
        </div>
        <div style="float:left;">
            <a href="mailto:danigreaves@codeprettythings.com"><div class="icon mail"></div><span class="light">You can also contact me at danigreaves@codeprettythings.com</span></a>
        </div>
    </div>
</div>
