<div class="headerBK">
    <div class="right">
        <nav class="menu"><a href="#/work">work</a></nav>
        <nav class="menu"><a href="#/about">about</a></nav>
        <nav class="menu"><a href="#/contact" class="active">contact</a></nav>
    </div>
</div>
<div class="header">
    <a href="#/">
        <h1>Danielle Greaves</h1>
        <h3>web developer</h3>
    </a>
</div>


    <div class="contact">
        <h1>Get in Contact!</h1>
        <p id="dancingScript" >Email me! <a href="mailto:danigreaves@codeprettythings.com">danigreaves@codeprettythings.com</a></p><br>
        <p id="dancingScript">Call me! <span style="color:#c0a892">724.816.2924</span></p>
    </div>
<div id="footer">

</div>