<div class="headerBK">
    <div class="right">
        <nav class="menu"><a href="#/work">work</a></nav>
        <nav class="menu"><a href="#/about">about</a></nav>
        <nav class="menu"><a href="#/contact">contact</a></nav>
    </div>
</div>
<div class="header left">
    <a href="#/">
        <h1>Danielle Greaves</h1>
        <h3>web developer</h3>
    </a>
</div>
<div style="margin-top:120px;">
    <div class="hLine"></div>
    <div class="hLine"></div>
</div>
<script></script>
<div class="fadeAnimate" ng-init="toggle();" ng-class="{'fade-in': fade }" >
    <a href="#/work">
        <div style="width:400px;margin:0 auto;">
            <img src="/images/laptopGH.png" alt="laptop" />
            <p class="glowAnimate" ng-class="{'fade-in': fade}" style="text-align:center;">I like to code pretty things</p>
        </div>
    </a>
</div>


